@layer utilities {
  .text-hero {
    @apply font-bold;
    @apply text-42 desktop:text-64;
    @apply leading-42 desktop:leading-64;
    @apply -tracking-2 desktop:tracking-0;
  }

  .text-h1 {
    @apply font-bold;
    @apply text-24 desktop:text-40;
    @apply leading-24 desktop:leading-40;
  }

  .text-h2 {
    @apply font-bold;
    @apply text-20 desktop:text-32;
    @apply leading-24 desktop:leading-36;
    @apply -tracking-3 desktop:-tracking-5;
  }

  .text-h3 {
    @apply font-bold;
    @apply text-18 desktop:text-24;
    @apply leading-20 desktop:leading-28;
    @apply -tracking-2 desktop:-tracking-4;
  }

  .text-h4 {
    @apply font-bold;
    @apply text-16 desktop:text-18;
    @apply leading-20 desktop:leading-24;
    @apply -tracking-2 desktop:-tracking-4;
  }

  .text-h5 {
    @apply font-bold;
    @apply text-14 desktop:text-16;
    @apply leading-18 desktop:leading-20;
    @apply -tracking-0 desktop:-tracking-2;
  }

  .text-preamble {
    @apply text-16 desktop:text-18;
    @apply leading-22 desktop:leading-28;
  }

  .text-paragraph {
    @apply text-12 desktop:text-14;
    @apply leading-18 desktop:leading-20;
    @apply -tracking-1 desktop:tracking-0;
  }

  .text-small {
    @apply text-10 desktop:text-12;
    @apply leading-14 desktop:leading-16;
    @apply tracking-2;
  }

  .text-xsmall {
    @apply text-8 desktop:text-12;
    @apply leading-14 desktop:leading-16;
    @apply tracking-2;
  }

  .styled-link {
    text-decoration: none;
  }

  .styled-link::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1rem;
    background: #fff;
    transition: width 0.3s ease-in-out;
  }

  .styled-link:hover::after {
    width: 100%;
  }

  .placeholder {
    min-height: 6rem;
    border: 1px solid #b93b3b;
    width: 100%;
    text-align: center;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #c4c4c4;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 2px;
  }

  .custom-slider:hover {
    opacity: 0.8;
  }

  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #facd3d;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    border-radius: 50%;
  }

  .custom-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #facd3d;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    border-radius: 50%;
  }

  .custom-slider::-ms-fill-lower {
    background: #facd3d;
    opacity: 0.8;
  }

  .custom-slider::-moz-range-progress {
    background: #facd3d;
    opacity: 0.8;
  }

  .custom-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .custom-slider::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .custom-slider::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .placeholder::before {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top left,
        transparent 0%,
        transparent calc(50% - 1px),
        #b93b3b 50%,
        transparent calc(50% + 1px),
        transparent 100%
      ),
      linear-gradient(
        to top right,
        transparent 0%,
        transparent calc(50% - 1px),
        #b93b3b 50%,
        transparent calc(50% + 1px),
        transparent 100%
      );
  }
  .rich-text blockquote {
    @apply bg-gray-100;
    @apply ml-1;
    border-left: 8px solid #ccc;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .rich-text blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  .rich-text blockquote p {
    margin-top: 4px;
    padding-left: 2.5rem;
  }
}
